/* @import url("./Variables.css"); */

.button-submit--green, .button-submit--green:focus {
    background-color: var(--Green) !important;
    border-color: var(--Green) !important;
    box-shadow: none !important;
}

.button-submit--green:hover {
    background-color: var(--Green-on-hover) !important;
    border-color: var(--Green-on-hover) !important;
}