.text--red {
    color: var(--Red);
}

.text--grayish-blue {
    color: var(--Grayish-Blue);
}

.smaller {
    font-size: .75rem !important;;
}

.bg--blue {
    background-color: var(--Blue);
}

.shadow-offset-y {
    box-shadow: rgba(45, 45, 45, 0.238) 0px 8px 0px -1px;
}

.empty-message-wrapper {
    position: relative;
}

.empty-message {
    color: var(--Red);
    font-style: italic;
    position: absolute;
    right: 1%;
}

.placeholder-red::placeholder {
    color: var(--Red) !important;
    font-weight: 500;
}
